<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gh0u1l5.wechatmagician"
          android:versionCode="19"
          android:versionName="2.2.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:allowBackup="true"
            android:theme="@android:style/Theme.Material.Light">
        <activity android:name="com.gh0u1l5.wechatmagician.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposeddescription"
                android:value="@string/app_desc"/>
        <meta-data
                android:name="xposedminversion"
                android:value="53"/>

    </application>
</manifest>
